/* General body styling */
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    line-height: 1.6;
    color: #333;
}

/* Container for the content */
#content {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px 40px;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#footer {
    margin-top: 100px;
    font-size: large;
    font-weight: bold;
}

/* Heading styles */
h1, h2, h3, h4, h5, h6 {
    margin-top: 20px;
    font-weight: 700;
    color: #333;
}

h1 {
    font-size: 2.5rem;
    border-bottom: 2px solid #eaeaea;
    padding-bottom: 10px;
}

h2 {
    /* margin-top: 50px; */
    font-size: 2rem;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 8px;
}

h3 {
    font-size: 1.75rem;
}

/* Paragraph and text styling */
p {
    margin: 15px 0;
    font-size: 1.125rem;
}

/* Blockquote styling */
blockquote {
    margin: 1em 0;
    padding: 10px 20px;
    background-color: #f9f9f9;
    border-left: 5px solid #ccc;
    font-style: italic;
    color: #555;
}

/* Code block styling */
pre {
    background-color: #2d2d2d;
    color: #f8f8f2;
    padding: 20px;
    margin: 10px 10px;
    border-radius: 15px;
    overflow-x: auto;
    font-size: 0.9rem;
    line-height: 1.5;
}

code {
    background-color: #f1f1f1;
    padding: 2px 4px;
    border-radius: 4px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.95rem;
}

pre code {
    background-color: #2d2d2d;
    padding: 2px 0px;
    border-radius: 4px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.95rem;
}

/* List styling */
ul, ol {
    margin: 20px 0;
    padding-left: 20px;
}

ul li, ol li {
    margin-bottom: 10px;
}

/* Link styling */
a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Image styling */
img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Table styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #f4f4f4;
}

/* Responsive design */
@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    #content {
        padding: 15px;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.75rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }
}
